<div class="profile-container">
  <div class="info-container">
    <div class="info">
      <h1>Profile</h1>
      <p>
        Username: <span>{{ user.Username }}</span>
      </p>
      <p>
        Email: <span>{{ user.Email }}</span>
      </p>
    </div>
    <div class="favorites-container">
      <h2>Favorite Movies</h2>
      <div *ngIf="favoriteMovies.length === 0">
        <p>Your List Is Empty</p>
      </div>
      <mat-list class="favorites">
        <mat-list-item
          *ngFor="let movie of favoriteMovies"
          class="image-container"
        >
          <img matListItemAvatar src="{{ movie.ImagePath }}" />
          <span matListItemTitle>{{ movie.Title }}</span>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <form class="user-form">
    <h1>Update Profile</h1>

    <br />

    <mat-form-field>
      <mat-label> Username </mat-label>
      <input
        matInput
        [(ngModel)]="userData.Username"
        type="text"
        name="Username"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="userData.Password"
        type="password"
        placeholder="Password"
        name="Password"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="userData.Email" type="email" name="Email" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Birthday</mat-label>
      <input
        matInput
        [(ngModel)]="userData.Birthday"
        type="date"
        name="Birthday"
      />
    </mat-form-field>

    <br />

    <button mat-raised-button class="profileButtons" (click)="editUser()">
      Update
    </button>

    <button mat-raised-button class="profileButtons" (click)="deleteUser()">
      Delete Account
    </button>
  </form>
</div>
