<div class="movie-container">
  <mat-card *ngFor="let movie of movies" class="card">
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle
        >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
      >
    </mat-card-header>
    <img
      src="{{ movie.ImagePath }}"
      alt="{{ movie.Title }}"
      class="responsive-image"
    />
    <mat-card-actions>
      <button
        mat-button
        color="primary"
        (click)="getGenre(movie.Genre.Name, movie.Genre.Description)"
        matTooltip="Genre"
      >
        Genre
      </button>

      <button mat-button color="primary">Director</button>
      <button
        mat-button
        color="primary"
        (click)="openMovieInfo(movie.Title, movie.Description)"
      >
        Synopsis
      </button>

      <button
        *ngIf="!isFavorite(movie._id)"
        mat-icon-button
        (click)="addFavorite(movie._id)"
        matTooltip="Add to favorites"
      >
        <mat-icon>favorite_border</mat-icon>
      </button>

      <button
        *ngIf="isFavorite(movie._id)"
        mat-icon-button
        (click)="removeFavorite(movie._id)"
        matTooltip="Remove from favorites"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
