.movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: space-evenly; 

}

.card {
    background-color: #d3d3d3;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.responsive-image {
    max-width: 100%;
    /* min-height: 70%; */
    height: auto;
    display: block;
    margin: 0 auto; 
}